
@{
    ViewBag.Title = "Buy";
}

@Html.Partial("_Navbar")

<section class="landing">
    <div class="home-wrap">
        <div class="home-inner4">

        </div>
    </div>
</section>
<section class="caption text-center">
    <h1> مرکز خرید</h1>
</section>
<div id="about" class="bg-white">
    <div class="col-12 text-center area">
        <h2>
            مرکز خرید آسمان
        </h2>
        <div class="underline"></div> <br /><br />
    </div>
</div>

<div class="bg-co">
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">  گالری فرش موسوی </h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    نمایشگاه و فروشگاه فرش موسوی<br />

                    ارائه دهنده قالی‌های دستبافت هنری اصفهان<br />

                    <br />ساعات کار: صبح ها از ساعت 9  الی 12

                    <br />بعدازظهرها از ساعت 17  الی 22
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/buy/OIP (1).png" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white"> آرایشگاه مردانه </h3><br /><br />
                <p class="text-white-50 align-baseline">
                    کوتاهی مو، رنگ، فر و صافی، کراتینه<br />

                    <br />اکستنشن،گریم داماد، اصلاح صورت، ماساژ صورت

                    <br />ساعات کار: صبح ها از 9:30  الی 14:30

                    <br />بعد از ظهرها از 16:30  الی 22:30
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/buy/R (4).png" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">  فروشگاه فرش دستباف </h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ارائه دهنده مجموعه ای منحصر به فرد<br />

                    <br />از فرش های دستباف ایرانی (برند مهدی ئی  )

                    <br />ساعات کار: صبح ها از 9  الی 12

                    <br />بعد از ظهرها از 17  الی 22
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/buy/download.png" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white"> سوغات خوراکی اصفهان </h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    غرفه گز و شیرینی  ارائه دهنده خوراکی های اصفهان<br />

                    از قبیل گز آردی و لقمه، سوهان، پولکی، نبات و سایر شیرینی های خشک<br />

                    <br />ساعات کار: هر روز از ساعت 9  الی 22

                    <br />جمعه ها از ساعت 9  الی 15:30
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/buy/601A7418.png" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white"> فروشگاه طلا، جواهر و زیورآلات </h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    فروشگاه طلا و جواهر سیم و زر<br />

                    ارائه دهنده زیورآلات طلا و جواهرات لوکس و زیبا<br />

                    <br />ساعات کار: هرروز از ساعت 10  الی 22
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/buy/Lille_Perle_Jewellery_by_Heterarchy_Royal_Leamington_Spa_UK.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">	فروشگاه عطر و ادکلن </h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ارائه دهنده گلچینی از برندهای مشهور عطر و ادکلن در دنیا<br />

                    <br />ساعات کار: بعد از ظهرها از ساعت 18  الی 24
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/buy/perfumary.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">فروشگاه لباس زنانه </h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    <br />ارائه دهنده انواع مانتو، شال و روسری

                    <br />شعبه اصفهان برند نیوحجاب

                    <br />ساعات کار همه روزه از ساعت 10 الی 22
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/buy/R.png" class="room-color" />
            </td>
        </tr>
    </table><br /><br />

</div>



<a href="#" class="fixed-bottom fix"><img src="~/images/icon/0000.png" class="img60x60 bal" /></a>

@Html.Partial("_Footer")
