@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Navbar")


<div class="cslider">

        @Html.Partial("_Slider")
</div>


<table class="jum text-md-center" id="t1">
    <tr class="row">
        <td class="col-md">
            <img src="~/images/slider/Raffles-Hotel-Raffles_PA220916.jpg" class="cm"  />
        </td>
        <td class="home col-md" id="about"><br />
            <h1 class="text-warning text-center">هتل آسمان</h1><br />
            <h5 class="text-white text-center" > اسمان را نزدیکتر ببینید</h5><br />
            <p class="text-white text-center"  id="des">
                پنجم مهر ماه سال ۱۳۸۴ مصادف با روز جهاني گردشگري، آغاز کار هتل آسمان اصفهان بود.<br /> دستاورد تجارب و تلاشهای ما در این سالها، اعتمادی است که
                از جانب شما دیده ایم و امانت دار این اعتماد هستیم. این هتل سيزده
                طبقه با ۸۸ اتاق اعم از دو تخته، سه تخته، سوئيت، رویال سوئيت و سوئیت
                آپارتمان، رستوران گردان و سالن های مراسم متنوع درحاشیه ی زاینده رود و
                درنزدیکی جاذبه های شهر اصفهان قرار گرفته است تا امکان دسترسی راحت
                به اکثر نقاط مهم شهر را برای مسافرانش فراهم کند. از خدمات رفاهي هتل
                میتوان به این موارد اشاره کرد: رستوران گردان با چشم اندازی از سرتاسر
                اصفهان،لاندري، روم سرويس ۲۴ ساعته، ۴ سالن مراسم در چیدمان های مختلف
                با ارائه سيستم هاي صوتي و تصويري، اتاق کنترل و ترجمه، استخر سرپوشيده،
                سونا خشک و بخار، جکوزي واتاق ماساژ، کافه رستوران خورشيد وکافي شاپ ماه
                به صورت بیست و چهار ساعته، صرّافي، پارکينگ و تاکسي سرويس شبانه روزي .
            </p>
        </td>
    </tr>
</table>

<table class="jum text-md-center" id="t2">
    <tr class="row">
        <td class="home col-md" id="about"><br /><br />
            <h1 class="text-warning text-center">اتاق ها و سوییت ها </h1><br />
            <p class=" text-white text-center" id="des">
                  هتل اسمان اصفهان دارای 225 باب اتاق ، سوئیت و آپارتمان است که شامل
                اتاق های معمولی یک تخته و دو تخته ، چشم انداز و
                پردیس ، سوئیت های معمولی ، قاجار ، صفوی ، سبز و
                نیز آپارتمان دو و سه خوابه بوده و همگی اتاق ها
                مجهز به سیستم های ایمنی ویژه و مطابق با اصول
                استانداردهای بین المللی و روز دنیا می باشند .
                نمای استثنایی و زیبای باغ و گنبد فیروزه ای
                مدرسه چهارباغ منظره ای چشم نواز و بدیع را
                برای اتاق های مشرف به باغ به ارمغان می آورد.
                تزئینات شگفت انگیز و معماری سبک قاجار و صفوی در
                برخی از سوئیت ها از جمله عناصر طراحی داخلیست
                که در کمتر هتلی در دنیا نظیر آن یافت می شود.<br /><br />
            <a class="btn btn-warning border-0 " id="bt" href="/Roomses/Index">ادامه مطلب</a>
            </p>
        </td>
        <td class="col-md">
            <img src="~/images/rooms/5.jpg" class="cm" />
        </td>
    </tr>
</table>

<table class="jum text-md-center" id="t3">
    <tr class="row">
        <td class="col-md">
            <img src="~/images/restauran/barbacoa-768x768.png" class="cm" />
        </td>
        <td class="home col-md" id="about"><br /><br /><br />
            <h1 class="text-warning text-center">رستوران ها و کافه  </h1><br />
            <p class="text-white text-center" id="des">
                  هتل آسمان با دارا بودن
                رستوران های فاخر، سفره خانه سنتی و کافی شاپ مجهز
                امکان انتخاب طیف وسیعی از غذاها و نوشیدنی ها و
                همچنین لذت بردن  از فضایی منحصر به فرد را برای میهمانان گرامی فراهم می آورد.<br /><br /><br />
                <a class="btn btn-warning  border-0 " id="bt" href="/Restauran/Index">ادامه مطلب</a>
            </p>
        </td>
    </tr>
</table>

<table class="jum text-md-center" id="t4">
    <tr class="row">
        <td class="home col-md" id="about"><br /><br />
            <h1 class="text-warning text-center"> تالارها </h1><br />
            <p class="text-white text-center" id="des"> این هتل
            بین المللی که در نوع خود یکی از کهن ترین
            هتل های جهان شناخته می شود؛ دارای 11 
            چند منظوره با ظرفیت های 20 تا 550 نفر
            جهت برگزاری انواع سمینارها، ضیافت ها 
            و پذیرایی ها از مقامات 
            رسمی و غیررسمی می باشد. <br /><br />
                <a class="btn btn-warning border-0 " id="bt" href="/Hall/Index">ادامه مطلب</a>
            </p>
        </td>
        <td class="col-md">
            <img src="~/images/hall/fe-34.jpg" class="cm" />
        </td>
    </tr>
</table>


<div class="c1 ">
    <div class="row text-sm-center">
        <div class="col-md">
            <br />
            <img src="~/images/icon/223360.png" class="img75x75" /><br />
            <span class="text-dark FontLarger"><b>11</b></span><br /><br />
            <span class="text-dark ">تعداد تالارها</span>
        </div>
        <div class="col-md">
            <br />
            <img src="~/images/icon/7290119.png" class="img75x75" /><br />
            <span class="text-dark"><b>5</b></span><br /><br />
            <span class="text-dark ">تعداد رستوران ها</span>
        </div>
        <div class="col-md">
            <br />
            <img src="~/images/icon/4261389.png" class="img75x75" /><br />
            <span class="text-dark"><b>225</b></span><br /><br />
            <span class="text-dark ">تعداد اتاق ها</span>
        </div>
        <div class="col-md">
            <br />
            <img src="~/images/icon/292162.png" class="img75x75" /><br />
            <span class="text-dark"><b>14</b></span><br /><br />
            <span class="text-dark ">فاصله از ترمینال (km)</span>
        </div>
        <div class="col-md">
            <br />
            <img src="~/images/icon/292162.png" class="img75x75" /><br />
            <span class="text-dark"><b>15</b></span><br /><br />
            <span class="text-dark ">فاصله از راه آهن(km)</span>
        </div>
        <div class="col-md">
            <br />
            <img src="~/images/icon/55555.png" class="img75x75" /><br />
            <span class="text-dark "><b>25</b></span><br /><br />
            <span class="text-dark ">فاصله از فرودگاه(km)</span>
        </div>


    </div>
</div> 

<a href="#" class="fixed-bottom fix"><img  src="~/images/icon/0000.png" class="img60x60 bal"/></a>


@Html.Partial("_Footer")

