@model IEnumerable<hotel.Models.ViewModels.RoomsGroupViewModel>
@{
    ViewBag.Title = "اتاق ها";
}

@Html.Partial("_Navbar")
 
    <section class="landing">
        <div class="home-wrap">
            <div class="home-inner1">

            </div>
        </div>
    </section>
    <section class="caption text-center">
        <h1>اتاق ها</h1>
        <h3>یک اقامت خاطره انگیز را با ما تجربه کنید</h3>
    </section>
    <div id="about" class="bg-white">
        <div class="col-12 text-center area">
            <h2>
                اتاق ها
            </h2>
            <div class="underline"></div>
            <p>
                اتاق های هتل دارای کلیه امکانات رفاهی و مجهز به سيستم هواي تازه،
                امکان اتصال به اينترنت، کليد هاي کارتي، صندوق <br />امانات، ميني بار،
                تلويزيون های LED متصل به ماهواره، شبکه پخش فيلم هاي سينمايي و ... مي باشد.
            </p> <br /><br />
        </div>
    </div>
    <div class="bg-co">
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/TCP-Interior_IMPACT-3D-5-Large-1024x683.jpg" class="room-color" alt="" />
                </td>
                <td class="col-md-6"><br /><br />
                    <h2 class="text-white">سوییت آپارتمان</h2><br /><br /> 
                    <p class="text-white-50 ">
                           
                      امکانات : <br />سيستم هواي تازه, صندوق امانات,
                          سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                          سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                          چوب لباسی, خانه داری, روم سرویس 24 ساعته

                          سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                          اتاق خواب و نوع دیگر دارای دو اتاق خواب
                          هستند، مجهز به سيستم هواي تازه، امکان
                          اتصال به اينترنت رایگان، کليد هاي کارتي،
                          صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي
                              سينمايي میباشند.
                          این اتاق ها برای اقامت خانواده پیشنهاد می شود
                                .
                    </p>
                </td>
                </tr>
        </table><br /><br /> 
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/caption.jpg" class="room-color" />
                </td>
                <td class="col-md-6 "><br /><br />
                    <h2 class="text-white">رویال سوئیت </h2><br /><br />
                    <p class="text-white-50 ">
                        امکانات : <br />سيستم هواي تازه, صندوق امانات,
                        سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                        سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                        چوب لباسی, خانه داری, روم سرویس 24 ساعته
                        <br />
                        سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                        اتاق خواب و نوع دیگر دارای دو اتاق خواب
                        هستند، مجهز به سيستم هواي تازه، امکان
                        اتصال به اينترنت رایگان، کليد هاي کارتي،
                        صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي سينمايي میباشند.
                        این اتاق ها برای اقامت خانواده پیشنهاد می شود
                        .
                    </p>
                </td>
            </tr>
        </table><br /><br />
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/10.jpg" class="room-color" />
                </td>
                <td class="col-md-6">
                    <br /><br />
                    <h2 class="text-white">اتاق پردیس </h2><br /><br />
                    <p class="text-white-50">
                        امکانات : <br />سيستم هواي تازه, صندوق امانات,
                        سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                        سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                        چوب لباسی, خانه داری, روم سرویس 24 ساعته<br />
                         سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                        اتاق خواب و نوع دیگر دارای دو اتاق خواب
                        هستند، مجهز به سيستم هواي تازه، امکان
                        اتصال به اينترنت رایگان، کليد هاي کارتي،
                        صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي سينمايي میباشند.
                        این اتاق ها برای اقامت خانواده پیشنهاد می شود
                        
                    </p>
                </td>
            </tr>
        </table><br /><br />
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/4.jpg" class="room-color" />
                </td>
                <td class="col-md-6">
                    <br /><br />
                    <h2 class="text-white"> اتاق دو تخته(دبل)</h2><br /><br />
                    <p class="text-white-50">
                        امکانات : <br />سيستم هواي تازه, صندوق امانات,
                        سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                        سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                        چوب لباسی, خانه داری, روم سرویس 24 ساعته<br />
                         سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                        اتاق خواب و نوع دیگر دارای دو اتاق خواب
                        هستند، مجهز به سيستم هواي تازه، امکان
                        اتصال به اينترنت رایگان، کليد هاي کارتي،
                        صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي سينمايي میباشند.
                        این اتاق ها برای اقامت خانواده پیشنهاد می شود
                        .
                    </p>
                </td>
            </tr>
        </table><br /><br />
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/deluxe-room.jpg" class="room-color" />
                </td>
                <td class="col-md-6">
                    <br /><br />
                    <h2 class="text-white">اتاق دو تخته</h2><br /><br />
                    <p class="text-white-50">
                        امکانات : <br />سيستم هواي تازه, صندوق امانات,
                        سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                        سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                        چوب لباسی, خانه داری, روم سرویس 24 ساعته<br />
                        سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                        اتاق خواب و نوع دیگر دارای دو اتاق خواب
                        هستند، مجهز به سيستم هواي تازه، امکان
                        اتصال به اينترنت رایگان، کليد هاي کارتي،
                        صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي سينمايي میباشند.
                        این اتاق ها برای اقامت خانواده پیشنهاد می شود
                        .
                    </p>
                </td>
            </tr>
        </table><br /><br />
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/9.jpg" class="room-color" />
                </td>
                <td class="col-md-6">
                    <br /><br />
                    <h2 class="text-white">سوئیت قاجار</h2><br /><br />
                    <p class="text-white-50">
                        امکانات : <br />سيستم هواي تازه, صندوق امانات,
                        سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                        سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                        چوب لباسی, خانه داری, روم سرویس 24 ساعته<br />
                         سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                        اتاق خواب و نوع دیگر دارای دو اتاق خواب
                        هستند، مجهز به سيستم هواي تازه، امکان
                        اتصال به اينترنت رایگان، کليد هاي کارتي،
                        صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي سينمايي میباشند.
                        این اتاق ها برای اقامت خانواده پیشنهاد می شود
                        .
                    </p>
                </td>
            </tr>
        </table><br /><br />
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/7.jpeg" class="room-color" />
                </td>
                <td class="col-md-6">
                    <br /><br />
                    <h2 class="text-white">سوئیت صفوی</h2><br /><br />
                    <p class="text-white-50">
                        امکانات : <br />سيستم هواي تازه, صندوق امانات,
                        سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                        سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                        چوب لباسی, خانه داری, روم سرویس 24 ساعته<br />
                         سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                        اتاق خواب و نوع دیگر دارای دو اتاق خواب
                        هستند، مجهز به سيستم هواي تازه، امکان
                        اتصال به اينترنت رایگان، کليد هاي کارتي،
                        صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي سينمايي میباشند.
                        این اتاق ها برای اقامت خانواده پیشنهاد می شود
                        .
                    </p>
                </td>
            </tr>
        </table><br /><br />
        <table class="jumbotron container  text-md-center">
            <tr class="row">
                <td class="col-md-6">
                    <img src="~/images/rooms-group/900x600-1-50-dda7e42bfb27e275833b4bff8e636290.jpg" class="room-color" />
                </td>
                <td class="col-md-6">
                    <br /><br />
                    <h2 class="text-white">اتاق چشم انداز </h2><br /><br />
                    <p class="text-white-50">
                        امکانات : <br />سيستم هواي تازه, صندوق امانات,
                        سیستم اطفاء حریق, تلویزیون هوشمند هتلی, تلفن,
                        سشوار, یخچال, کتری برقی, پریز برق اینترنشنال,
                        چوب لباسی, خانه داری, روم سرویس 24 ساعته<br />
                         سوئیت آپارتمان های هتل که یک نوع آن دارای یک
                        اتاق خواب و نوع دیگر دارای دو اتاق خواب
                        هستند، مجهز به سيستم هواي تازه، امکان
                        اتصال به اينترنت رایگان، کليد هاي کارتي،
                        صندوق امانات، ميني بار، تلويزيون های LEDمتصل به ماهواره و شبکه پخش فيلم هاي سينمايي میباشند.
                        این اتاق ها برای اقامت خانواده پیشنهاد می شود
                        .
                    </p>
                </td>
            </tr>
        </table><br /><br />
       
        <div class="main border-0 border-bottom-0">
            <div class="row border-0 border-bottom-0">
                <div class="col-md-8 border-bottom-0 border-bottom-0">
                    <div class="rooms-item2 border-0 border-bottom-0">
                        <div class="container mt-3 border-0 border-bottom-0">
                            <h2 class="text-dark border-dark">نظرات کاربرن</h2><hr />
                            <p>نظرات مسافرین عزیر درباره اقامت در هتل آسمان </p>


                            <div id="showMessage" class=" border-0 border-bottom-0" >
                                @Html.Action("ShowComments", "Comment")
                            </div>


                            <div class="rooms-item2 border-0 border-bottom-0">
                                <h4>
                                    لطفا دیدگاه خود را بنویسید
                                </h4>
                                @Html.Action("CreateComment", "Comment")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<a href="#" class="fixed-bottom fix"><img src="~/images/icon/0000.png" class="img60x60 bal" /></a>

@Html.Partial("_Footer")
