
@{
    ViewBag.Title = "Hall";
}

@Html.Partial("_Navbar")


<section class="landing">
    <div class="home-wrap">
        <div class="home-inner3">

        </div>
    </div>
</section>
<section class="caption text-center">
    <h1>تالار و سالن ها</h1>
    <h2>جایی برای خاطرات ماندگار</h2>
</section>
<div id="about" class="bg-white">
    <div class="col-12 text-center area">
        <h2>
            مکانی برای ثبت خاطرات ماندگار
        </h2>
        <div class="underline"></div> <br /><br />
    </div>
</div>
<div class="bg-co">
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">  تالار مرمر </h3><br /><br /><br />
                <h4 class="text-white">مناسب برای مهمانی ها </h4><br />
                <p class="text-white-50 align-baseline">
                    ساختار تالار مرمر و معماری جدید آن، این امکان را فراهم می سازد که این تالار مکانی مناسب برای برپایی نمایشگاه ها، کنفرانس و انواع جشن ها باشد. نام انتخاب شده برای این تالار، برخاسته از سنگ های مرمر به کار رفته در کف تالار است. این شاخصه، در کنار دیوارهای کرمی رنگ، آیینه کاری های ظریف و هنرپردازی های دیوار و سقف، آرامش و زیبایی خاصی را به ذهن بیننده منتقل می سازد     .
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/hall/fe-34.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">سالن  زرین </h3><br /><br /><br />
                <h4 class="text-white">مناسب برای انواع سمینارها، همایش ها و یا جلسات پذیرایی تشریفاتی</h4><br />
                <p class="text-white-50 align-baseline">
                    به تالار زرین خوش آمدید؛ جایی که ورق طلاهای قلمگیری شده در پس زمینه سبز_ آبی دیوارها نقش بسته و دست پنجه هنرمندانه ترین آثار تذهیب، لایه چینی و گچبری، روی پوشش سقف و دیوار دیده می شود. اینجا فقط یک تالار مجلل و با شکوه نیست، بلکه قطعه ای بی نظیر از هویت معماری ایرانی محسوب می شود    .
                    این تالار که در طبقه همکف مهمانسرا واقع شده؛ بر اساس چیدمان های مختلف؛ میزبان بسیار شایسته ای برای انواع سمینارها، همایش ها و یا جلسات پذیرایی تشریفاتی خواهد بود   .


                    نوع چیدمان                      	سینمایی	U شکل	کلاسی	پذیرایی
                    ظرفیت (نفر)	100	40	40	60
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/hall/2.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">سالن عالی قاپو </h3><br /><br /><br />
                <h4 class="text-white">مناسب برای مهمانی ها و ضیافت های تشریفاتی و ویژه</h4><br />
                <p class="text-white-50 align-baseline">
                    کوچک اما با شکوه است.
                    این تالار با الهام از اتاق موسیقی کاخ عالی قاپو ساخته شده است.
                    مجموعه تزیینات گچبری، نقاشی، تُنگ بری و قطار بندی همراه با
                    آثار مینیاتور، چهار دیواری کوچک این تالار را به پهنه ای
                    وسیع از هنرمندانه ترین نقوش ایرانی تبدیل کرده است. تنگ بری
                    مقرنس های سقف این تالار را می توان نمونه ای بی نظیر از این هنر
                    ایرانی در سده اخیر دانست. این تالار، حداکثر 20 نفر ظرفیت
                    دارد و به دلیل ابعاد و ویژگی های خاص، برای مهمانی ها و
                    ضیافت های تشریفاتی و ویژه مورد استفاده قرار می گیرد    .
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/hall/dinner-photo-3.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">سالن رنگین کمان </h3><br /><br /><br />
                <h4 class="text-white">مناسب برای همایش ها، جلسات، مهمانی ها و کلاس های آموزشی</h4><br />
                <p class="text-white-50 align-baseline">
                    سالن اجتماعات رنگین کمان در طبقه چهارم هتل، مجهز به امکانات صوتي و تصويري پیشرفته از قبيل ویدئو وال، ديتا پروژکتور، فیلم برداری همزمان، ميکروفون کنفرانسی، سيستم نور پردازي مجهز، اتاق کنترل و ترجمه همزمان، سالن پذيرائي مجزا و ... گزینه مناسبی جهت برگزاری رخداد های علمی، فرهنگی و اجتماعی شماست. از محاسن این سالن، مانند دیگر سالن های ما، این است که قابلیت استفاده ی چند منظوره از آن وجود دارد و چیدمان سالن به شرح زیر تغییر می یابد.
                    چیدمان سینمائی: 320 نفر
                    چیدمان مهمانی: 220 نفر
                    چیدمان کلاسی(میز و صندلی): 130 نفر
                    چیدمان کنفرانسی: 120 نفر
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/hall/kecak-ballroom-classroom-1980x1340-912x818.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">سالن مهتاب </h3><br /><br /><br />
                <h4 class="text-white">مناسب برای پذیرایی،جلسات و همایش های کوچکتر</h4><br />
                <p class="text-white-50 align-baseline">
                    سالن مهتاب در طبقه سوم هتل، با ظرفيت 100 نفر، مجهز به امکانات صوتي و تصويري، به گونه اي طراحي شده است که جهت برگزاری ميهماني ها، جلسات، کنفرانس ها و دوره هاي آموزشي مناسب باشد. همسایگی اش با سالن آفتاب باعث شده است که بسیاری از مشتریان ما این سالن را جهت پذیرایی کنار مهمانی یا مراسم اصلی شان استفاده کنند.چیدمان سالن و ظرفیت آن به شرح زیر تغییر می یابد:
                    چیدمان کنفرانسی: 40 نفر
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/hall/3.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">سالن آفتاب </h3><br /><br /><br />
                <h4 class="text-white">مناسب برای مهمانی ها و مراسم عقد و عروسی</h4><br />
                <p class="text-white-50 align-baseline">
                    سالن آفتاب در طبقه سوم هتل داراي امکانات صوتي و تصويري لازم جهت برگزاری جلسات با ظرفیت 200 نفر و مراسم و میهمانی ها با ظرفیت 260 نفر مي باشد. به سبب به شکل و فضای ظاهری اش، این سالن بیشتر انتخاب محبوب مشتریان ما برای مهمانی ها و مراسم عقد یا عروسی بوده است.
                </p>
            </td>
            <td class="col-md-6">
                <img src="~/images/hall/OIP.jpg" class="room-color" />
            </td>
        </tr>
    </table><br /><br />
</div>

<a href="#" class="fixed-bottom fix"><img src="~/images/icon/0000.png" class="img60x60 bal" /></a>

@Html.Partial("_Footer")
