
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com//" role="button">
                <i class="fab fa-google"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/__fatimao/" role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>برای اطلاع از طرح های هتل آسمان <br />ایمیل خود را وارد کنید</strong>
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label" for="form5Example21">آدرس ایمیل</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            ثبت
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
        <br />
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"> مجموعه هتل های آسمان</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white"> هتل آسمان</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">هتل رویال آسمان</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">هتل آسمان کیش</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"> هتل ستاره شیراز</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">شعب </h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">اصفهان :</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">تهران :</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"> کیش:</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">شیراز :</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">آدرس</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">خیابان مطهری</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">خیابان سئول</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">خیابان ساحل</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">خیابان ابن سینا</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">شماره تماس :</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">0312223366</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">0215554488</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">0614982566</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">0712256966</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        تمامی خدمات این وب سایت دارای مجوزهای لازم از مراجع مربوطه می باشد و فعالیت های این سایت تابع قوانین و مقررات جمهوری اسلامی ایران است.
    </div>
    <!-- Copyright -->
</footer>
