<nav class="navbar navbar-expand-lg nav-tabs fixed-top bg-dark " id="nav">

    <a class="navbar-brand text-warning FontLarger " href="#"><b> هتل آسمان اصفهان</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
    <pre>                                   </pre>
    <div dir="auto" class="collapse navbar-collapse d-flex align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#t1" ><b> صفحه نخست </b> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Roomses/ShowRoomsGroup"><b>اتاق و سوئیت</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Restauran/Index"><b>رستوران ها</b></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="/Hall/Index" > <b>تالار ها </b></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="/Buy/Index" > <b>مرکز خرید</b> </a>
            </li>
        </ul>
        <pre>                                                      </pre>
        @*<ul class="navbar-nav ml-auto">
            @Html.Action("LoginState", "Account")
        </ul>*@
        <a class=" navbar-brand text-dark btn btn-warning" href="/Raservations/FormInput"><b>رزرو انلاین اتاق</b></a>
    </div>
</nav>
