
<div id="slider">

    <div class="slide active">
        <img src="~/images/slider/4.jpg" alt="">
    </div>
    <div class="slide">
        <img src="~/images/slider/3.jpg" alt="">
    </div>
    <div class="slide">
        <img src="~/images/slider/Pole-Khajoo-mohammad-nasr-scaled.jpg" alt="">
    </div>

    <a href="#" class="prev">&gt; </a>
    <a href="#" class="next">&lt; </a>
</div>