
@{
    ViewBag.Title = "Restauran";
}

@Html.Partial("_Navbar")


<section class="landing">
    <div class="home-wrap">
        <div class="home-inner2">

        </div>
    </div>
</section>
<section class="caption text-center">
    <h1> رستوران گردان هتل آسمان</h1>
    <h2>یک شهر زیر پای شما</h2>
</section>
<div id="about" class="bg-white">
    <div class="col-12 text-center area">
        <h2>
            به صرف یک وعده دوستانه
        </h2>
        <div class="underline"></div>
        <p>
            رستوران گردان هتل آسمان، تجربه ای به ياد ماندنی را در ذهن شما به جای خواهد گذاشت. میهمانان عزيز
            <br /> می توانند همزمان با نظاره کردن چشم انداز زيبای زاينده رود و مناظر بی بدیل شهر گنبدهای فیروزه ای، از صرف انواع <br />غذا های مطبوع ايرانی و فرنگی لذت ببرند.
        </p> <br /><br />
    </div>
</div>
<div class="bg-co">
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <img src="~/images/restauran/Motoyoshi_2018__DSC5176.jpg" class="room-color" />
            </td>
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">رستوران گردان هتل آسمان</h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ازبلندای این نقطه، تمام شهر زیر پای توست.<br /> با ایستادن در
                    فضای باز رستوران چشم انداز واقع در بام مهمانسرا
                    می توان نمایی 360 درجه از شهر اصفهان را مشاهده
                    کرد؛ تصویری که نه تنها برای گردشگران داخلی و
                    خارجی که برای بسیاری از شهروندان اصفهانی نیز
                    جالب و هیجان انگیز است.<br /> رستوران چشم انداز،
                    250 نفر ظرفیت دارد و گزینه ای بسیار مناسب
                    برای مهمانی های خانوادگی، جمع های دوستانه
                    و یا گردهمایی شغلی صمیمانه به شمار می آید.
                </p>
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <img src="~/images/restauran/le-meridien-goa-latest-recipe.jpg" class="room-color" />
            </td>
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">کافه رستوران خورشید</h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ازبلندای این نقطه، تمام شهر زیر پای توست.<br /> با ایستادن در
                    فضای باز رستوران چشم انداز واقع در بام مهمانسرا
                    می توان نمایی 360 درجه از شهر اصفهان را مشاهده
                    کرد؛ تصویری که نه تنها برای گردشگران داخلی و
                    خارجی که برای بسیاری از شهروندان اصفهانی نیز
                    جالب و هیجان انگیز است.<br /> رستوران چشم انداز،
                    250 نفر ظرفیت دارد و گزینه ای بسیار مناسب
                    برای مهمانی های خانوادگی، جمع های دوستانه
                    و یا گردهمایی شغلی صمیمانه به شمار می آید.
                </p>
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <img src="~/images/restauran/4.jpg" class="room-color" />
            </td>
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">رستوران گردان هتل آسمان</h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ازبلندای این نقطه، تمام شهر زیر پای توست.<br /> با ایستادن در
                    فضای باز رستوران چشم انداز واقع در بام مهمانسرا
                    می توان نمایی 360 درجه از شهر اصفهان را مشاهده
                    کرد؛ تصویری که نه تنها برای گردشگران داخلی و
                    خارجی که برای بسیاری از شهروندان اصفهانی نیز
                    جالب و هیجان انگیز است.<br /> رستوران چشم انداز،
                    250 نفر ظرفیت دارد و گزینه ای بسیار مناسب
                    برای مهمانی های خانوادگی، جمع های دوستانه
                    و یا گردهمایی شغلی صمیمانه به شمار می آید.
                </p>
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <img src="~/images/restauran/5.jpg" class="room-color" />
            </td>
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">رستوران گردان هتل آسمان</h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ازبلندای این نقطه، تمام شهر زیر پای توست.<br /> با ایستادن در
                    فضای باز رستوران چشم انداز واقع در بام مهمانسرا
                    می توان نمایی 360 درجه از شهر اصفهان را مشاهده
                    کرد؛ تصویری که نه تنها برای گردشگران داخلی و
                    خارجی که برای بسیاری از شهروندان اصفهانی نیز
                    جالب و هیجان انگیز است.<br /> رستوران چشم انداز،
                    250 نفر ظرفیت دارد و گزینه ای بسیار مناسب
                    برای مهمانی های خانوادگی، جمع های دوستانه
                    و یا گردهمایی شغلی صمیمانه به شمار می آید.
                </p>
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <img src="~/images/restauran/5e1336f90135194a72526eba_frevo.jpg" class="room-color" />
            </td>
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">رستوران گردان هتل آسمان</h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ازبلندای این نقطه، تمام شهر زیر پای توست.<br /> با ایستادن در
                    فضای باز رستوران چشم انداز واقع در بام مهمانسرا
                    می توان نمایی 360 درجه از شهر اصفهان را مشاهده
                    کرد؛ تصویری که نه تنها برای گردشگران داخلی و
                    خارجی که برای بسیاری از شهروندان اصفهانی نیز
                    جالب و هیجان انگیز است.<br /> رستوران چشم انداز،
                    250 نفر ظرفیت دارد و گزینه ای بسیار مناسب
                    برای مهمانی های خانوادگی، جمع های دوستانه
                    و یا گردهمایی شغلی صمیمانه به شمار می آید.
                </p>
            </td>
        </tr>
    </table><br /><br />
    <table class="jumbotron container  text-md-center">
        <tr class="row">
            <td class="col-md-6">
                <img src="~/images/restauran/1.jpg" class="room-color" />
            </td>
            <td class="col-md-6">
                <br /><br />
                <h3 class="text-white">رستوران گردان هتل آسمان</h3><br /><br /><br />
                <p class="text-white-50 align-baseline">
                    ازبلندای این نقطه، تمام شهر زیر پای توست.<br /> با ایستادن در
                    فضای باز رستوران چشم انداز واقع در بام مهمانسرا
                    می توان نمایی 360 درجه از شهر اصفهان را مشاهده
                    کرد؛ تصویری که نه تنها برای گردشگران داخلی و
                    خارجی که برای بسیاری از شهروندان اصفهانی نیز
                    جالب و هیجان انگیز است.<br /> رستوران چشم انداز،
                    250 نفر ظرفیت دارد و گزینه ای بسیار مناسب
                    برای مهمانی های خانوادگی، جمع های دوستانه
                    و یا گردهمایی شغلی صمیمانه به شمار می آید.
                </p>
            </td>
        </tr>
    </table><br /><br />
</div>

<a href="#" class="fixed-bottom fix"><img src="~/images/icon/0000.png" class="img60x60 bal" /></a>

@Html.Partial("_Footer")

