
@{
    ViewBag.Title = "Bank";
}

<body class="bodybank">
    <input type="checkbox" class="toggle" id="toggle">
    <div class="cardContainer">
        <header>           
            <label for="toggle">
                <img src="/images/icon/logo.png" alt="logo" class="cardLogo">
            </label>
            <h3 class="cardBank">Mellat Bank</h3>
        </header>
        <img src="/images/icon/chip.png" alt="chip" class="cardChip">
        <main class="cardNumber" lang="en">
            <span contenteditable>1105</span>
            <span contenteditable>7162</span>
            <span contenteditable>9911</span>
            <span contenteditable>6395</span>
        </main>
        <footer>
            <div class="cardName" contenteditable>Fateme Dadkhah</div>
            <div class="cardExp" contenteditable>04/01</div>
        </footer>
    </div>   
</body>
<br /><br /><br /><a href="/Raservations/Payments" class="btn btn-success pardakht" style="margin-top:320px; margin-right:-180px;">پرداخت</a>