
@{
    ViewBag.Title = "Payments";
}

<div style="background-color:#dfdfdf; overflow-y:hidden;">
    <br /><br /><br /><h2 class="text-center text-white btn-outline-success btn-success">***  پرداخت شما با موفقیت انجام شد  ***</h2><br /><br />

    <div class="table-responsive-xl w-50 m-auto bg-secondary text-light" style="border-radius:40px;">
        <br />
        <div class="m-auto table-hover fw-bolder">
            <p class="text-center"> کد رهگیری شما:73632594100254</p>
            <p class="text-center">امید است اقامت خوبی را در هتل آسمان تجربه کنید <br />شما لایق بهترین ها هستید</p>
        </div>  <br />
    </div><br /><br />
    <a href="/" class="btn btn-success" style="margin-bottom:230px; margin-right:650px;">بازگشت به صفحه اصلی</a>
    <br /><br /><br /><br /><br />
</div>





























@*<li>
    <ol>dyj</ol>
    <ol>jsr</ol>
    <ol>tjsrt</ol>
    <ol>thrtr</ol>
    <ol>tr</ol>
</li>
<li>
    <ol>dyj</ol>
    <ol>jsr</ol>
    <ol>tjsrt</ol>
    <ol>thrtr</ol>
    <ol>tr</ol>
</li>
<li>
    <ol>dyj</ol>
    <ol>jsr</ol>
    <ol>tjsrt</ol>
    <ol>thrtr</ol>
    <ol>tr</ol>
</li>*@